<ul>
  {{#each burgers}}
    <li>{{id}}, {{burger_name}}, {{devoured}} <button class="devour-button" data-id="{{id}}" data-devoured="{{devoured}}">Devour</button></li>
  {{/each}}
</ul>

<form class="add-burger-form">
    <textarea name="add-burger-text" id="add-burger-textarea" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>
